<!-- ======= Footer ======= -->
<footer id="footer" class="loged-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 footer-links">
                    <ul>
                        <li> <a routerLink="/home">Home</a></li>
                        <li> <a routerLink="/about-us">About us</a></li>
                        <li> <a routerLink="/contact-us">Contact Us</a></li>
                        <li> <a routerLink="/privacy-policy">Privacy policy</a></li>
                        <li> <a routerLink="/terms-and-conditions">Terms of service</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 footer-contact mb-0">
                    <div class="copyright pt-0"> Copyright Candidate Bazaar &copy; 2020. All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->