<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Edit Details</h5>
    <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close"> <span
        aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <form class="text-left profile-form" [formGroup]="editForm" (ngSubmit)="onSubmitEdit(editForm.value)">
      <div class="row">
        <div class="col-md-12 form-group">
          <label>Company Name</label>
          <input type="text" id="fname" class="form-control" name="employerCompany" formControlName="employerCompany"
            placeholder="Enter Company Name">
        </div>
        <div class="col-md-12 form-group">
          <label>Email</label>
          <input type="text" id="fname" class="form-control" name="employerEmail" formControlName="employerEmail"
            placeholder="Enter Email">
        </div>
        <div class="col-md-12 form-group">
          <label>Phone Number</label>
          <input type="text" id="lname" class="form-control" name="employerContactMobile"
            formControlName="employerContactMobile" placeholder="Enter Phone Number">
        </div>
        <div class="col-md-12 form-group">
          <label>Industry</label>
          <select class="form-control custom-select cursr" name="industryID" formControlName="industryID">
            <option value="" disabled selected>Select Industry</option>
            <option *ngFor="let industry of industriesLists" [value]="industry.industryID">
              {{industry.industryName}}</option>
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label>Employee Strength</label>
          <select class="form-control custom-select cursr" name="empsizeID" formControlName="empsizeID">
            <option value="" disabled selected>Select Strength</option>
            <option *ngFor="let strength of employeeStrengthLists" [value]="strength.empsizeID">
              {{strength.empsizeName}}</option>
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="country">Country</label>
          <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline" placeholder="Select Country"
            formControlName="countryID" (change)="onSelectCountry($event)" class="custom" labelForId="country" name="countryID">
            <ng-option *ngFor="let country of countryLists" [value]="country.countryID">{{country.countryName}}</ng-option>
          </ng-select>
        </div>
        <div class="col-md-6 form-group">
          <label for="state">State</label>
          <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline" placeholder="Select State"
            formControlName="stateID" class="custom" (change)="onSelectState($event)" labelForId="state" name="stateID">
            <ng-option *ngFor="let state of stateLists" [value]="state.stateID">{{state.stateName}}</ng-option>
          </ng-select>
        </div>
        <div class="col-md-6 form-group">
          <label for="city">Current City</label>
          <ng-select [closeOnSelect]="true" [searchable]="true" appearance="outline" placeholder="Select City"
            formControlName="cityID" class="custom" labelForId="city" name="cityID">
            <ng-option *ngFor="let city of cityLists" [value]="city.cityID">{{city.cityName}}</ng-option>
          </ng-select>
        </div>
        <div class="col-md-12 form-group">
          <label>Business Certificate Type</label>
          <select class="form-control custom-select cursr" name="ownershipID" formControlName="ownershipID">
            <option value="" disabled selected>Select Certificate</option>
            <option *ngFor="let certificate of ownerShipsLists" [value]="certificate.ownershipID">
              {{certificate.ownershipName}}</option>
          </select>
        </div>
        <div class="col-md-12 form-group">
          <label>Business Certificate Number</label>
          <input type="text" id="bCertificate" formControlName="employerBusinessCertiNumber"
            name="employerBusinessCertiNumber" placeholder="Enter Business Certificate Number..." class="form-control"
            value="COU34512">
        </div>
        <div class="col-md-12 form-group">
          <label>Upload Business Certificate</label>
          <div class="profileupload">
            <label for="photoupload" class="fi-custom-upladfile cursr" *ngIf="makeItFalse">
              <input multiple="" (change)="onSelectFile($event)" id="photoupload" name="photoupload" type="file"
                value="" required>
              <span class="imagebox"><img id="blah-c" src="assets/images/upload-doc.png" alt=""></span>
            </label>
            <span *ngIf="businessCertificateUrl">
              <div class="fi-custom-upladfile">
                <div class="imagebox"><img [src]="businessCertificateUrl" alt="businessCertificateUrl">
                </div>
              </div>
            </span>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <label>Headquarter Address</label>
          <textarea type="text" formControlName="employerHqAddress" name="employerHqAddress"
            placeholder="Enter Headquarter Address" id="Address" class="form-control"></textarea>
        </div>
        <div class="col-md-12 form-group">
          <label>Spokesperson</label>
          <input type="text" id="bCertificate" formControlName="employerContactName" name="employerContactName"
            class="form-control" value="Ms. Shweta Yagnik">
        </div>
        <div class="col-md-12 form-group">
          <label>Designation</label>
          <input type="text" id="bCertificate" formControlName="employerDesignation" name="employerDesignation"
            placeholder="Enter Designation..." class="form-control" value="HR Executive">
        </div>
        <div class="col-md-12 form-group">
          <label>Mobile Number</label>
          <input type="text" id="bCertificate" class="form-control" formControlName="employerMobile"
            name="employerMobile">
        </div>
        <div class="col-md-12 form-group">
          <label>About Company</label>
          <textarea type="text" id="Address" formControlName="employerAbout" placeholder="Enter About..."
            name="employerAbout" class="form-control"></textarea>
        </div>
      </div>

      <div class="row pt-3 justify-content-center">
        <div class="col-md-8">
          <button type="submit" class="btn btn-them btn-md w-100">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>