<div class="form-group row pt-4">
    <div class="col-md-9 col-sm-8 position-relative ser">
        <span class="addons"><i class="icofont-search"></i> </span>
        <input type="text" class="form-control" (keyup)='search.next($event)' placeholder="Search Candidate"
            style="padding-left:30px;">
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="form-group date-content" id="example1">
            <span class="addons"><i class="icofont-ui-calendar"></i></span>
            <input type="text" class="form-control" name="departure" id="departure1" value="March 5, 20" />
        </div>
    </div>
</div>