<!--Modal Reset Password-->
<!-- <div class="modal fade" id="ResetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"> -->
<!-- <div class="modal-dialog" role="document"> -->
<div class="modal-content" *ngIf="employee">
    <div class="modal-header text-center d-block position-relative" style="border: none;">
        <a (click)="backToVerificationModal(employeeData)" class="backicon cursr"><img src="assets/images/back-icon.png"
                alt="icon"></a>
        <h5 class="modal-title" id="exampleModalLabel">Reset Password?</h5>
        <p class="mb-0" style="color: #6a7081;">Please type the verification code sent to your mobile number</p>
    </div>
    <div class="modal-body">
        <form class="text-left profile-form" [formGroup]="resetForm"
            (ngSubmit)="onResetPasswordSubmit(resetForm.value)">
            <div class="form-row">
                <div class="col-md-12 col-sm-12 form-group inputWithIcon">
                    <input type="password" [type]=" hide ? 'password' : 'text' " id="Email-Mobile1"
                        (keydown.space)="$event.preventDefault()" class="form-control"
                        formControlName="employeeNewPassword" name="employeeNewPassword"
                        placeholder="Enter New Password" required>
                    <a class="cursr" (click)="myFunction()"><i class="fas "
                            [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"></i></a>
                    <small class="text-danger"
                        *ngIf="resetForm.controls['employeeNewPassword'].hasError('required') && (resetForm.controls['employeeNewPassword'].dirty || resetForm.controls['employeeNewPassword'].touched)">This
                        field is required.</small>
                    <small class="text-danger"
                        *ngIf="resetForm.controls['employeeNewPassword'].hasError('minlength')">Password must
                        contain 4 to 16 character.</small>
                    <small class="text-danger"
                        *ngIf="resetForm.controls['employeeNewPassword'].hasError('maxlength')">Password must
                        contain 4 to 16 character.</small>
                    <!-- <small class="text-danger"
                        *ngIf="resetForm.controls['employeeNewPassword'].hasError('pattern') && (resetForm.controls['employeeNewPassword'].dirty || resetForm.controls['employeeNewPassword'].touched)">Password
                        needs to be at least eight characters, one uppercase letter and one number.</small> -->
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <input type="password" id="Email-Mobile2" class="form-control"
                        (keydown.space)="$event.preventDefault()" formControlName="employeeReEnteredNewPassword"
                        name="employeeReEnteredNewPassword" placeholder="Re-enter New Password" required>
                    <small class="text-danger"
                        *ngIf="resetForm.controls['employeeReEnteredNewPassword'].hasError('required') && (resetForm.controls['employeeReEnteredNewPassword'].dirty || resetForm.controls['employeeReEnteredNewPassword'].touched)">please
                        enter Re-Enter New-Password.</small>
                    <!-- <small class="text-danger"
                        *ngIf="resetForm.controls['employeeReEnteredNewPassword'].hasError('pattern') && (resetForm.controls['employeeReEnteredNewPassword'].dirty || resetForm.controls['employeeReEnteredNewPassword'].touched)">Password
                        needs to be at least eight characters, one uppercase letter and one number.</small> -->
                    <small class="text-danger"
                        *ngIf="resetForm.controls['employeeReEnteredNewPassword'].hasError('confirmedValidator')">Re-Enter
                        New-Password
                        not matched with New Password.</small>
                </div>
                <div class="col-md-12 col-sm-12 mt-3">
                    <button type="submit" [disabled]="resetForm.invalid" class="btn btn-them btn-md w-100">Reset
                        Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-content" *ngIf="employer">
    <div class="modal-header text-center d-block position-relative" style="border: none;">
        <a (click)="backToEmployerVerificationModal(employeeData)" class="backicon cursr"><img
                src="assets/images/back-icon.png" alt="icon"></a>
        <h5 class="modal-title" id="exampleModalLabel">Reset Password?</h5>
        <p class="mb-0" style="color: #6a7081;">Please type the verification code sent to your mobile number</p>
    </div>
    <div class="modal-body">
        <form class="text-left profile-form" [formGroup]="employerResetForm"
            (ngSubmit)="onEmployerResetPasswordSubmit(employerResetForm.value)">
            <div class="form-row">
                <div class="col-md-12 col-sm-12 form-group inputWithIcon">
                    <input type="password" [type]=" hide ? 'password' : 'text' " id="Email-Mobile1"
                        (keydown.space)="$event.preventDefault()" class="form-control"
                        formControlName="employeeNewPassword" name="employeeNewPassword"
                        placeholder="Enter New Password" required>
                    <a class="cursr" (click)="myFunction()"><i class="fas "
                            [ngClass]="{'fa-eye': !hide, 'fa-eye-slash': hide}"></i></a>
                    <small class="text-danger"
                        *ngIf="employerResetForm.controls['employeeNewPassword'].hasError('required') && (employerResetForm.controls['employeeNewPassword'].dirty || employerResetForm.controls['employeeNewPassword'].touched)">This
                        field is required.</small>
                    <small class="text-danger"
                        *ngIf="employerResetForm.controls['employeeNewPassword'].hasError('minlength')">Password must
                        contain 4 to 16 character.</small>
                    <small class="text-danger"
                        *ngIf="employerResetForm.controls['employeeNewPassword'].hasError('maxlength')">Password must
                        contain 4 to 16 character.</small>
                    <!-- <small class="text-danger"
                        *ngIf="employerResetForm.controls['employeeNewPassword'].hasError('pattern') && (employerResetForm.controls['employeeNewPassword'].dirty || employerResetForm.controls['employeeNewPassword'].touched)">Password
                        needs to be at least eight characters, one uppercase letter and one number.</small> -->
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <input type="password" id="Email-Mobile2" class="form-control"
                        (keydown.space)="$event.preventDefault()" formControlName="employeeReEnteredNewPassword"
                        name="employeeReEnteredNewPassword" placeholder="Re-enter New Password" required>
                    <small class="text-danger"
                        *ngIf="employerResetForm.controls['employeeReEnteredNewPassword'].hasError('required') && (employerResetForm.controls['employeeReEnteredNewPassword'].dirty || employerResetForm.controls['employeeReEnteredNewPassword'].touched)">please
                        enter Re-Enter New-Password.</small>
                    <!-- <small class="text-danger"
                        *ngIf="resetForm.controls['employeeReEnteredNewPassword'].hasError('pattern') && (resetForm.controls['employeeReEnteredNewPassword'].dirty || resetForm.controls['employeeReEnteredNewPassword'].touched)">Password
                        needs to be at least eight characters, one uppercase letter and one number.</small> -->
                    <small class="text-danger"
                        *ngIf="employerResetForm.controls['employeeReEnteredNewPassword'].hasError('confirmedValidator')">Re-Enter
                        New-Password
                        not matched with New Password.</small>
                </div>
                <div class="col-md-12 col-sm-12 mt-3">
                    <button type="submit" [disabled]="employerResetForm.invalid" class="btn btn-them btn-md w-100">Reset
                        Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- </div>
</div> -->