<div class="row">
    <div class="detailed col-lg-4 col-sm-6">
        <div class="plan-detais text-center">
            <h4 class="card-title"></h4>
            <h2 class="text-dark mb-0"><small class="card-text"></small></h2>
            <h4 class="text-gray line-through"><small class="card-text"></small></h4>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <div class="form-inline pt-3">
                <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
            </div>
        </div>
    </div>

    <div class="detailed col-lg-4 col-sm-6">
        <div class="plan-detais text-center">
            <h4 class="card-title"></h4>
            <h2 class="text-dark mb-0"><small class="card-text"></small></h2>
            <h4 class="text-gray line-through"><small class="card-text"></small></h4>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <div class="form-inline pt-3">
                <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
            </div>
        </div>
    </div>

    <div class="detailed col-lg-4 col-sm-6">
        <div class="plan-detais text-center">
            <h4 class="card-title"></h4>
            <h2 class="text-dark mb-0"><small class="card-text"></small></h2>
            <h4 class="text-gray line-through"><small class="card-text"></small></h4>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <div class="form-inline pt-3">
                <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
            </div>
        </div>
    </div>
</div>