<!--Modal Forgot Password-->
<!-- <div class="modal fade" id="ForgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"> -->
<!-- <div class="modal-dialog" role="document"> -->
<div class="modal-content" *ngIf="employee">
    <div class="modal-header text-center d-block position-relative" style="border: none;">
        <a (click)="backToLoginModal()" class="backicon cursr"><img src="assets/images/back-icon.png" alt="icon"></a>
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password?</h5>
        <p class="mb-0" style="color: #6a7081;">Please type the Register Email-ID or mobile number</p>
    </div>
    <div class="modal-body">
        <form class="text-left profile-form" [formGroup]="forgetForm"
            (ngSubmit)="onSubmitEmailOrMobile(forgetForm.value)">
            <div class="form-row">
                <div class="col-md-12 col-sm-12 mb-2 form-group">
                    <input type="text" id="Email-Mobile" formControlName="email" name="email" class="form-control"
                        placeholder="Enter Email/ Mobile Number" required>
                    <small class="text-danger"
                        *ngIf="forgetForm.controls['email'].hasError('required') && (forgetForm.controls['email'].dirty)">This
                        field is required</small>
                    <small class="text-danger"
                        *ngIf="forgetForm.controls['email'].hasError('pattern') && (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">Please
                        enter valid email address or phone number</small>
                </div>
                <div class="col-md-12 col-sm-12 mb-2 mt-3">
                    <button type="submit" [disabled]="forgetForm.invalid" class="btn btn-them btn-md w-100"
                        data-toggle="modal">Send OTP</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- for employer -->
<div class="modal-content" *ngIf="employer">
    <div class="modal-header text-center d-block position-relative" style="border: none;">
        <a (click)="backToLoginModal()" class="backicon cursr"><img src="assets/images/back-icon.png" alt="icon"></a>
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password?</h5>
        <p class="mb-0" style="color: #6a7081;">Please type the Register Email-ID or mobile number</p>
    </div>
    <div class="modal-body">
        <form class="text-left profile-form" [formGroup]="forgetForm"
            (ngSubmit)="onSubmitEmployerEmailOrMobile(forgetForm.value)">
            <div class="form-row">
                <div class="col-md-12 col-sm-12 mb-2 form-group">
                    <input type="text" id="Email-Mobile" formControlName="email" name="email" class="form-control"
                        placeholder="Enter Email/ Mobile Number" required>
                    <small class="text-danger"
                        *ngIf="forgetForm.controls['email'].hasError('required') && (forgetForm.controls['email'].dirty)">This
                        field is required</small>
                    <small class="text-danger"
                        *ngIf="forgetForm.controls['email'].hasError('pattern') && (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">Please
                        enter valid email address or phone number</small>
                </div>
                <div class="col-md-12 col-sm-12 mb-2 mt-3">
                    <button type="submit" [disabled]="forgetForm.invalid" class="btn btn-them btn-md w-100"
                        data-toggle="modal">Send OTP</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->