<div class="detailed">
    <div class="row">
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="form-inline col-md-2 text-md-right">
            <h6 class="card-title"></h6>
            <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
        </div>
    </div>
</div>
<div class="detailed">
    <div class="row">
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="col-md-2">
            <h6 class="card-title"></h6>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
        <div class="form-inline col-md-2 text-md-right">
            <h6 class="card-title"></h6>
            <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
        </div>
    </div>
</div>