<main id="main" class="bg-gray">
    <!--  Breadcrumbs  -->
    <section id="breadcrumbs" class="breadcrumbs detail-page" style="background: url(assets/images/cms-banner-bg.png)">
        <div class="container">
            <h1 class="text-center text-white mb-0">&nbsp;</h1>
            <ol>
                <li><a href="post-jd.html" class="text-white">Spensor Tech-Com</a></li>
                <li class="text-white"><b>Support</b> </li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- customer Dashbord Section -->
    <section id="dashbord" class="dashbord-section pb-5 mt-0">
        <div class="container">
            <h5 class="text-dark mb-0">What can we help you with?</h5>
            <p>Select the issue</p>

            <div class="tab-section tabs-support">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">
                            <img src="assets/images/interview-icon.png" alt="interview" height="40">
                            <p class="mt-2">Interview</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#JobDescription">
                            <img src="assets/images/job-description-icon.png" alt="job description" height="40">
                            <p class="mt-2">Job Description</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Profile">
                            <img src="assets/images/profile-icon.png" alt="Profile" height="40">
                            <p class="mt-2">Profile</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#UsageGuides">
                            <img src="assets/images/document-icon.png" alt="Usage Guides" height="40">
                            <p class="mt-2">Usage Guides</p>
                        </a>
                    </li>
                </ul>

                <br><br>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="text-center">
                                    <h5 class="text-dark">Interview Support</h5>
                                    <p>Find some frequently asked queries related to Interviews.</p>
                                </div>
                                <br>
                                <div id="accordion" class="accordion-support">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    My Profile is pending for approval
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    My Profile is rejected
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                single-origin coffee nulla assumenda shoreditch et.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    My Profile is dummy query 1
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                                                nesciunt you probably haven't heard of them accusamus labore sustainable
                                                VHS.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">
                                                    My Profile is dummy query 2
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                            data-parent="#accordion">
                                            <div class="card-body">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <br>
                                <div class="text-center">
                                    <h5 class="text-dark">You still have a question?</h5>
                                    <p>If you can’t find answer from the FAQs, you can always contact us and we will
                                        shortly get back to you.</p>
                                </div>
                                <br><br>
                                <div class="support-detail">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="items-support text-center">
                                                <img src="assets/images/email-icon.png" alt="interview" height="30">
                                                <p class="mb-0 mt-2"><a class="text-dark"
                                                        href="mailto:support@candidatebazaar.com">support@candidatebazaar.com</a>
                                                </p>
                                                <p class="text-muted mb-0"><small>The best way to get answer
                                                        faster</small></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="items-support text-center">
                                                <img src="assets/images/support-call-icon.png" alt="interview"
                                                    height="30">
                                                <p class="mb-0 mt-2"><a class="text-dark" href="telto:18002003000">1800
                                                        200 3000</a></p>
                                                <p class="text-muted mb-0"><small>We’re always happy to help</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>

                                <div class="text-center">
                                    <h5 class="text-dark">Open Tickets</h5>
                                </div>
                                <br>
                                <div id="accordion2" class="accordion-support opentiket">
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseFive" aria-expanded="true"
                                                    aria-controls="collapseFive">
                                                    <p class="mb-0 text-green">Profile</p>
                                                    My Profile is pending for approval
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                                            data-parent="#accordion2">
                                            <div class="card-body">
                                                <small class="text-muted"> Admin Response</small>
                                                <p>This is the response from the Admin and Lorem ipsum dolor sit amet,
                                                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                    labore et dolore magna aliqua</p>
                                                <p class="text-dark">Not helpful? <a class="text-green" href="#"> Write
                                                        us via email</a> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="JobDescription">
                        Job Description
                    </div>
                    <div class="tab-pane fade" id="Profile">
                        Profile
                    </div>
                    <div class="tab-pane fade" id="UsageGuides">
                        UsageGuides
                    </div>
                </div>
            </div>

        </div>
    </section>

</main><!-- End #main -->