<div class="details-list">
    <div class="row">
        <div class="col-md-4 col-6">
            <a class="comlogo cursr"
                (click)="navigateToDetailsPage(jobJD, companyName, companyCity, jobJDname, interviewDate, interviewTime, interviewMode, employerID, interviewID, interviewStatusID, companyLogo )">
                <img [src]="url" onerror="this.src='assets/images/nopic.png'" alt="company">
                <h5 class="mt-2 mb-1">{{companyName | titlecase}}</h5>
            </a>
            <p class="mb-1 icon-g"><img src="assets/images/global.png" alt="icon">
                www.fusioninfo.com</p>
            <p class="mb-1 icon-g"><img src="assets/images/maps-pin.png" alt="icon">
                {{companyCity | titlecase}}</p>
        </div>
        <div class="col-md-5 col-6 pt-3">
            <h5 class="mt-2 mb-1">Interview Details</h5>
            <p class="mb-1 icon-g"><img src="assets/images/user-icon.png" alt="icon"> {{jobJDname | titlecase}}</p>
            <p class="mb-1 icon-g"><img src="assets/images/timetable.png" alt="icon">
                {{ (interviewDate | date: 'mediumDate' ) + " - " + interviewTime}}</p>
            <p class="mb-1 icon-g"><img src="assets/images/teamwork.png" alt="icon">
                {{interviewMode === 'Skype' ? 'On ' + interviewMode : interviewMode}}</p>
        </div>
        <div class="col-md-3 text-center text-md-right">
            <div class="button-content">
                <button type="button" (click)="onAcceptClick(interviewID)"
                    class="btn btn-them btn-sm rounded mb-2">Accept</button>
                <button type="button" (click)="onDeclineClick(interviewID)" class="btn btn-red btn-sm rounded mb-2">
                    Decline</button>
            </div>
        </div>
    </div>
    <div class="bottom-statu">
        <p class="text-green mb-0">You are selected for this job</p>
    </div>
</div>