<!--  Footer  -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 footer-links">
          <h4 class="footerlogo"><img src="assets/images/logo-footer.png" alt="logo"> </h4>
          <p>Lorem ipsum dolor sit amet, consectetur ad ipisicing elit, sed do eiusmod tempor incidi dunt ut labore et.
          </p>
        </div>

        <div class="col-lg-3 col-md-3 col-6 footer-links">
          <h4>Navigation</h4>
          <ul>
            <li> <a routerLink="/home">Home</a></li>
            <li> <a routerLink="/about-us">About us</a></li>
            <li> <a routerLink="/contact-us">Contact Us</a></li>
            <li> <a routerLink="/privacy-policy">Privacy policy</a></li>
            <li> <a routerLink="/terms-and-conditions">Terms of service</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-6 footer-contact">
          <h4>Contact Us</h4>
          <div class="contact-info mr-auto">
            <p class="mb-2"> <a href="telto:+97145784578"><i class="icofont-phone"></i> +971 45784578</a></p>
            <a><a href="mailto:info@baariz.com"><i class="icofont-envelope"></i> info@baariz.com</a></a>
          </div>
          <div class="social-links mt-3">
            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright"> Copyright Candidate Bazaar &copy; 2020. All Rights Reserved</div>
  </div>
</footer><!-- End Footer -->