<div class="tab-content" id="myTabContent">
    <div class="">
        <div class="content-details">
            <div class="details-list hover">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="details-list hover">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="details-list hover">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>