<div class="row align-items-center">
    <div class="col-lg-4 totalinterview">
        <h2 class="mb-0 text-dark">1000</h2>
        <p class="mb-0 text-muted">Total Interviews Scheduled</p>
    </div>
    <div class="col-lg-8">
        <div class="item-counted d-flex align-items-center">
            <span class="indicate indi-blue"></span>
            <p class="mb-0 text-muted titleCr">Hired</p>
            <p class="mb-0 text-dark">550</p>
        </div>
        <div class="item-counted d-flex align-items-center">
            <span class="indicate indi-red"></span>
            <p class="mb-0 text-muted titleCr">Rejected</p>
            <p class="mb-0 text-dark">50</p>
        </div>
        <div class="item-counted d-flex align-items-center">
            <span class="indicate indi-green"></span>
            <p class="mb-0 text-muted titleCr">Selected</p>
            <p class="mb-0 text-dark">300</p>
        </div>
        <div class="item-counted d-flex align-items-center">
            <span class="indicate indi-orange"></span>
            <p class="mb-0 text-muted titleCr">Job Declined</p>
            <p class="mb-0 text-dark">100</p>
        </div>
    </div>
</div>