<main id="main" class="bg-gray">
    <!--  Breadcrumbs  -->
    <section id="breadcrumbs" class="breadcrumbs" style="background: url(assets/images/cms-banner-bg.png)">
        <div class="container">
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- customer Dashbord Section -->
    <section id="dashbord" class="dashbord-section pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <ul class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Scheduled-tab" data-toggle="tab" href="#Scheduled" role="tab"
                                aria-controls="Scheduled" aria-selected="false">Scheduled </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Process-tab" data-toggle="tab" href="#Process" role="tab"
                                aria-controls="Process" aria-selected="false">In Process</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Reschedule-tab" data-toggle="tab" href="#Reschedule" role="tab"
                                aria-controls="Reschedule" aria-selected="false"> Reschedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Unavailable-tab" data-toggle="tab" href="#Unavailable" role="tab"
                                aria-controls="Unavailable" aria-selected="false"> Unavailable</a>
                        </li>
                    </ul>
                    <!-- | search:'jobjdName, jobjdType': searchText -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Scheduled" role="tabpanel" aria-labelledby="Scheduled-tab">
                            <div class="" *ngIf="interviewsScheduled$ | async as scheduled">
                                <app-shared-search (searchText)="filterScheduled($event)" *ngIf="scheduled.length > 0"></app-shared-search>
                                <div class="content-details pt-1"
                                    *ngFor="let interview of scheduled | name | search:'employeeName':searchTexts | slice: (pageSchedule-1) * pageSize : (pageSchedule-1) * pageSize + pageSize; trackBy: scheduledTrackBy">
                                    <app-shared-scheduled [employeeName]="interview.employee[0].employeeName"
                                        [employeeWork]="interview.employee[0].workprofiles.length>0 ? interview.employee[0].workprofiles[0].empworkprofileName : ''"
                                        [jobJDname]="interview.jobjdName" [interviewDate]="interview.interviewDate"
                                        [interviewMode]="interview.interviewmodeName"
                                        [interviewID]="interview.interviewID"
                                        [employeeID]="interview.employee[0].employeeID"
                                        [interviewTime]="interview.interviewTime"
                                        [navItems]="scheduledNavItems.length > 0 ? scheduledNavItems : []"
                                        [profilePic]="interview.employee[0].employeeProfilePicture ? interview.employee[0].employeeProfilePicture : ''"
                                        (updateStatusData)="updateInterviewStatusScheduled($event)">
                                    </app-shared-scheduled>
                                </div>
                            </div>
                            <ngb-pagination class="d-flex justify-content-end" *ngIf="(interviewsScheduled$ | async)?.length>4"
                                [collectionSize]="(interviewsScheduled$ | async)?.length" [pageSize]="pageSize" [(page)]="pageSchedule">
                            </ngb-pagination>
                            <!-- margin-top -->
                            <div class="row" style="margin-top: 90px;"
                                *ngIf="(interviewsScheduled$ | async)?.length > 0 && (interviewsScheduled$ | async)?.length <= 1">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px;"
                                *ngIf="(interviewsScheduled$ | async)?.length > 1 && (interviewsScheduled$ | async)?.length <= 2">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <!-- loading -->
                            <div *ngIf="(interviewsScheduled$ | async) === null" style="margin-top: 30px;">
                                <app-interviews-skeleton></app-interviews-skeleton>
                            </div>
                            <!-- no record found -->
                            <div class="row" *ngIf="(interviewsScheduled$ | async)?.length === 0">
                                <div class="container" style="min-height:295px; margin-top: 30px;">
                                    <p class="lead text-center">No Record Found.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Process" role="tabpanel" aria-labelledby="Process-tab">
                            <div class="" *ngIf="interviewsProcess$ | async as inProcess">
                                <app-shared-inprocess-search (searchinprocess)="filterinprocess($event)"
                                    *ngIf="inProcess.length > 0">
                                </app-shared-inprocess-search>
                                <div class="content-details pt-1"
                                    *ngFor="let interview of inProcess | name | search:'employeeName':searchTextProcess | slice: (pageProgress-1) * pageSize : (pageProgress-1) * pageSize + pageSize; trackBy: inProcessTrackBy">
                                    <app-shared-in-process [employeeName]="interview.employee[0].employeeName"
                                        [employeeWork]="interview.employee[0].workprofiles.length>0 ? interview.employee[0].workprofiles[0].empworkprofileName : ''"
                                        [jobJDname]="interview.jobjdName" [interviewDate]="interview.interviewDate"
                                        [processRemark]="interview.interviewStatusRemarks ? interview.interviewStatusRemarks : ''"
                                        [interviewMode]="interview.interviewmodeName"
                                        [interviewID]="interview.interviewID" [interviewTime]="interview.interviewTime"
                                        [employeeID]="interview.employee[0].employeeID"
                                        [navItems]="inProcessNavItems.length > 0 ? inProcessNavItems : []"
                                        [profilePic]="interview.employee[0].employeeProfilePicture ? interview.employee[0].employeeProfilePicture : ''"
                                        (updateStatusData)="updateInterviewStatusInProcess($event)">
                                    </app-shared-in-process>
                                </div>
                            </div>
                            <ngb-pagination class="d-flex justify-content-end" *ngIf="(interviewsProcess$ | async)?.length>4"
                                [collectionSize]="(interviewsProcess$ | async)?.length" [pageSize]="pageSize" [(page)]="pageProgress">
                            </ngb-pagination>
                            <!-- margin-top -->
                            <div class="row" style="margin-top: 50px;"
                                *ngIf="(interviewsProcess$ | async)?.length > 0 && (interviewsProcess$ | async)?.length <= 1">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <!-- loading -->
                            <div *ngIf="(interviewsProcess$ | async) === null" style="margin-top: 30px;">
                                <app-interviews-skeleton></app-interviews-skeleton>
                            </div>
                            <!-- no record found -->
                            <div class="row" *ngIf="(interviewsProcess$ | async)?.length === 0">
                                <div class="container" style="min-height:295px; margin-top: 30px;">
                                    <p class="lead text-center">No Record Found.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Reschedule" role="tabpanel" aria-labelledby="Reschedule-tab">
                            <div class="" *ngIf="interviewsReScheduled$ | async as reScheduled">
                                <app-shared-rescheduled-search (searchrescheduled)="filterrescheduled($event)"
                                    *ngIf="reScheduled.length > 0"></app-shared-rescheduled-search>
                                <div class="content-details pt-1"
                                    *ngFor="let interview of reScheduled | name | search:'employeeName':searchTextRescheduled | slice: (pageReschedule-1) * pageSize : (pageReschedule-1) * pageSize + pageSize; trackBy: reScheduledTrackBy">
                                    <app-shared-re-scheduled [employeeName]="interview.employee[0].employeeName"
                                        [employeeWork]="interview.employee[0].workprofiles.length>0 ? interview.employee[0].workprofiles[0].empworkprofileName : ''"
                                        [jobJDname]="interview.jobjdName" [interviewDate]="interview.interviewDate"
                                        [interviewMode]="interview.interviewmodeName"
                                        [interviewTime]="interview.interviewTime" [interviewID]="interview.interviewID"
                                        [employeeID]="interview.employee[0].employeeID"
                                        [rescheduledID]="interview.reschedule.length > 0 ? interview.reschedule[0].rescheduleID : ''"
                                        [rescheduleRemarks]="interview.reschedule.length > 0 ? interview.reschedule[0].rescheduleRemarks : ''"
                                        [reScheduledInterviewDate]="interview.reschedule.length > 0 ? interview.reschedule[0].rescheduleDate : []"
                                        [reScheduledInterviewTime]="interview.reschedule.length > 0 ? interview.reschedule[0].rescheduleTime : []"
                                        [profilePic]="interview.employee[0].employeeProfilePicture ? interview.employee[0].employeeProfilePicture : ''"
                                        (acceptRescheduled)="acceptRescheduledFromCandidate($event)"
                                        (declineRescheduled)="declineRescheduledFromCandidate($event)"
                                        (reschedule)="rescheduleRescheduledFromCandidate($event)">
                                    </app-shared-re-scheduled>
                                </div>
                            </div>
                            <ngb-pagination class="d-flex justify-content-end" *ngIf="(interviewsReScheduled$ | async)?.length>4"
                                [collectionSize]="(interviewsReScheduled$ | async)?.length" [pageSize]="pageSize" [(page)]="pageReschedule">
                            </ngb-pagination>
                            <!-- margin-top -->
                            <div class="row" style="margin-top: 30px;"
                                *ngIf="(interviewsReScheduled$ | async)?.length > 0 && (interviewsReScheduled$ | async)?.length <= 1">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <!-- loading -->
                            <div *ngIf="(interviewsReScheduled$ | async) === null" style="margin-top: 30px;">
                                <app-interviews-skeleton></app-interviews-skeleton>
                            </div>
                            <!-- no record found -->
                            <div class="row" *ngIf="(interviewsReScheduled$ | async)?.length === 0">
                                <div class="container" style="min-height:295px; margin-top: 30px;">
                                    <p class="lead text-center">No Record Found.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Unavailable" role="tabpanel" aria-labelledby="Unavailable-tab">
                            <div class="" *ngIf="interviewsUnavailable$ | async as unavailable">
                                <app-shared-unavailable-search (searchUnavailable)="filterUnavailable($event)"
                                    *ngIf="unavailable.length > 0"></app-shared-unavailable-search>
                                <div class="content-details pt-1"
                                    *ngFor="let interview of unavailable | name | search:'employeeName':searchTextUnavailable | slice: (pageUnavailable-1) * pageSize : (pageUnavailable-1) * pageSize + pageSize; trackBy: unAvailableTrackBy">
                                    <app-shared-unavailable [employeeName]="interview.employee[0].employeeName"
                                        [employeeWork]="interview.employee[0].workprofiles.length>0 ? interview.employee[0].workprofiles[0].empworkprofileName : ''"
                                        [jobJDname]="interview.jobjdName" [interviewDate]="interview.interviewDate"
                                        [interviewMode]="interview.interviewmodeName"
                                        [interviewTime]="interview.interviewTime" [interviewID]="interview.interviewID"
                                        [employeeID]="interview.employee[0].employeeID"
                                        [profilePic]="interview.employee[0].employeeProfilePicture ? interview.employee[0].employeeProfilePicture : ''"
                                        (updateStatusData)="deleteInterview($event)">
                                    </app-shared-unavailable>
                                </div>
                            </div>
                            <ngb-pagination class="d-flex justify-content-end" *ngIf="(interviewsUnavailable$ | async)?.length>4"
                                [collectionSize]="(interviewsUnavailable$ | async)?.length" [pageSize]="pageSize" [(page)]="pageUnavailable">
                            </ngb-pagination>
                            <!-- margin-top -->
                            <div class="row" style="margin-top: 90px;"
                                *ngIf="(interviewsUnavailable$ | async)?.length > 0 && (interviewsUnavailable$ | async)?.length <= 1">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px;"
                                *ngIf="(interviewsUnavailable$ | async)?.length > 1 && (interviewsUnavailable$ | async)?.length <= 2">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                            <!-- loading -->
                            <div *ngIf="(interviewsUnavailable$ | async) === null" style="margin-top: 30px;">
                                <app-interviews-skeleton></app-interviews-skeleton>
                            </div>
                            <!-- no record found -->
                            <div class="row" *ngIf="(interviewsUnavailable$ | async)?.length === 0">
                                <div class="container" style="min-height:295px; margin-top: 30px;">
                                    <p class="lead text-center">No Record Found.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>