<!-- Hero Section -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- <img src="assets/images/clients/client-1.png" alt="">
 -->
        <div class="carousel-item active" style="background: url(assets/images/banner-img-1.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">We Offer 30,000+ Job Vacancies Right Now!</h2>
              <p class="animated fadeInUp">Find Jobs, Employment & Career Opportunies</p>
              <!--<a href="" class="btn-get-started animated fadeInUp">Read More</a>-->
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background: url(assets/images/banner-img-2.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">We Offer 30,000+ Job Vacancies Right Now!</h2>
              <p class="animated fadeInUp">Find Jobs, Employment & Career Opportunies</p>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item" style="background: url(assets/images/banner-img-3.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animated fadeInDown">We Offer 30,000+ Job Vacancies Right Now!</h2>
              <p class="animated fadeInUp">Find Jobs, Employment & Career Opportunies</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <section id="about" class="about abou-pagebg" style="background: url(assets/images/about-map-bg.png)">
    <div class="container">
      <div class="section-title">
        <h2>Welcome to Candidate Bazaar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <p>&nbsp;</p>
      </div>

      <div id="counts" class="counts">
        <div class="row">
          <div class="col-lg-3 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box text-center">
              <span data-toggle="counter-up">1000</span>
              <p>Job Openings</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box text-center">
              <span data-toggle="counter-up">500</span>
              <p>Candidates Hired</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box text-center">
              <span data-toggle="counter-up">3000</span>
              <p>No. of Candidates</p>
            </div>
          </div>
          <div class="col-lg-3 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box text-center">
              <span data-toggle="counter-up">2000</span>
              <p>No. of Partners</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  Services Section  -->
  <section id="services" class="services" style="overflow: hidden;">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 order-1">
          <div class="services-box green-bg text-center green-left">
            <div class="icon"><img src="assets/images/icon-executive.png" alt="icon"></div>
            <h4><a href="#">Executive Search</a></h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla ariatur. Excepteur sint occaecat.</p>
          </div>
        </div>
        <div class="col-md-6 order-2">
          <div class="services-box text-center">
            <div class="icon"><img src="assets/images/icon-staffing.png" alt="icon"></div>
            <h4><a href="#">Permanent Staffing</a></h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla ariatur. Excepteur sint occaecat.</p>
          </div>
        </div>
        <div class="col-md-6 order-md-3 order-4">
          <div class="services-box text-center">
            <div class="icon"><img src="assets/images/icon-bulk-hiring.png" alt="icon"></div>
            <h4><a href="#">Bulk Hiring</a></h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla ariatur. Excepteur sint occaecat.</p>
          </div>
        </div>
        <div class="col-md-6 order-md-4 order-3">
          <div class="services-box green-bg text-center green-right">
            <div class="icon"><img src="assets/images/icon-contract.png" alt="icon"></div>
            <h4><a href="#">Contract Hiring</a></h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ea commodo consequat. Duis aute irure dolor in re prehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla ariatur. Excepteur sint occaecat.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!--  Clients Section  -->
  <section id="clientssay" class="clientssay">
    <div class="container">
      <div class="section-title">
        <h2>What our clients say</h2>
      </div>
      <div class="">
        <div class="clientsay-item">
          <div class="d-flex justify-content-center">
            <div class="client-img">
              <img src="assets/images/testi-img.png" alt="client">
            </div>
            <div class="client-detail">
              <h3 class="mb-0">Ms. Dakota Van</h3>
              <p>HR Executive, E-Healers Co.</p>
            </div>
          </div>
          <div class="client-aboutsay mt-md-5">
            <p class="position-relative"><span><img height="50px" src="assets/images/quote.png" alt="quote"></span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm od tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Clients Section -->

  <!--  Clients Section  -->
  <section id="clients" class="clients">
    <div class="container-fluid">
      <div class="section-title">
        <h2>Our Clientele</h2>
      </div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide> <img src="assets/images/clients/client-1.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-2.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-3.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-4.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-5.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-6.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-7.png" alt="">
        </ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/client-8.png" alt="">
        </ng-template>
      </owl-carousel-o>
      <!-- <div class="owl-carousel clients-carousel"> -->

      <!-- </div> -->
    </div>
  </section><!-- End Clients Section -->

  <!--  Download Section  -->
  <section class="download-section" style="background: url(assets/images/download-bg.jpg);overflow:hidden;">
    <div class="anchore" id="DownloadApp"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="leftd-download">
            <h3>Get headhunted by best recruiters and find the best ones for your jobs!</h3>
            <div class="doenload-btn pt-2">
              <a href="#"><img src="assets/images/g-play.png" alt="play" height="45px"></a>
              <a href="#"><img src="assets/images/apple-stropre.png" alt="apple" height="45px"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-xs-none">
          <div class="mocup-img">
            <img src="assets/images/download-mocup.png" alt="mocup">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="container pt-md-5 pt-3">
      <div class="section-title">
        <h2>Contact Us</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0" style="border:0; width: 100%; height: 320px;" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="col form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class=""><button class="btn btn-them btn-md">Send </button></div>
          </form>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
<app-home-footer></app-home-footer>
<app-scroll-to-top></app-scroll-to-top>