<div class="form-group row">
    <div class="col-md-9 col-sm-8 position-relative ser">
        <h4 class="cardds-text" style="padding-left:30px;padding-top: 0% ;border-radius: 3px;"></h4>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="form-group date-content">
            <h4 class="cardds-text" style="border-radius: 3px;"></h4>
        </div>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="">
        <div class="content-details">
            <div class="details-list hover">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="details-list hover">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="details-list hover">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>